<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Vong.it</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
    <title>Vong.it</title>
  </head>
<body>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/posts/new" method="post">
      <legend>New Post</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="post-title"
          placeholder="Title"
        />
      </div>
      <div class="form-group">
        <label for="post-subreddit">Subreddit</label>
        <input name="subreddit" type="text" class="form-control" id="post-subreddit" placeholder="Subreddit">
      </div>
      <div class="form-group">
        <label for="post-url">Url</label>
        <input
          type="url"
          name="url"
          class="form-control"
          id="post-url"
          placeholder="https://www.google.com"
        />
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea
          name="summary"
          class="form-control"
          id="post-summary"
          placeholder="Summary"
        ></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>